@font-face {
  font-family: NorseBold;
  font-style: normal;
  font-weight: normal;
  src: url("/Norse-Bold.otf") format("opentype");
}

:root {
  --logo-font-size: 72px;
  --heading-section: 35%;
}

body, html {
  margin: 0px;
  border: 0px;
  height: 100%;
  width: 100%;

  display: flex;
  overflow: hidden;
  box-sizing: border-box;
}

.icon-section {
  background-image: url(backgroundImage.jpg);
  height: 100%;
  width: 30%;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  text-align: center;

  display: flex;
  flex-direction: column;
}

.logoHeader {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 72px;
  font-family: NorseBold;
  padding: 5% 0 5% 0;

  margin-top: calc(25% + 24px);
}

.logo {
  height: 1em;
  width: auto;
}

.photo-ref {
  color: white;
  font-size: 12px;
  margin-top: auto;
}

.photo-link:link {
  color: white;
}

.photo-link:visited {
  color:white;
}

.photo-link:active {
  color:cyan;
}

.photo-link:hover {
  color:cyan;
}

.content-section {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.intro-area, .button-area {
  height: 35%;
  background-color: whitesmoke;
  padding-left: 32px;
}

h1 {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

.form-area {
  height: 30%;
  padding-left: 32px;
}

h2 {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

.button-area {
  padding-top: 32px;
}

button {
  color: white;
  background-color: #596D48;
  padding: 5px 40px;
  border-radius: 5px;
}

.button-area a {
  text-decoration: none;
  font-weight: bold
}

.button-area a:link {
  color: #596D48;
}

.button-area a:visited {
  color: #596D48;
}